body {
  background-color: #F5F5F5;
  font-family: Rubik, sans-serif;
  text-align: center;
  color: #181818;
  text-transform: uppercase;
}

h1 {
  font-family: 'Fredoka One', san-serif;
  font-size: 5.5rem;
  margin: 2.5rem .2rem .2rem .2rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.8rem;
  margin: 2rem 0 1rem;
  text-decoration: underline;
}

h2:first-of-type {
  margin-top: 2rem;
}

h2:nth-of-type(2) {
  display: inline-block;
}

h2:nth-of-type(2), #colorPicker {
  margin: 2.5rem 0 2rem 0;
}

#colorPicker {
  margin-left: .5rem;
}

input[type=number] {
  width: 5rem;
  font-size: 1.1rem;
}

#sizePicker {
  display: flex;
  flex-direction: column;
}

.sizes, .hint {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

.sizes p {
  margin-top: 0.2rem;
  margin-left: 1rem;
}

#inputHeight, #inputWidth {
  margin-left: .2rem;
  height: 1.5rem;
  width: 5rem;
}

input[type=submit] {
  width: 14rem;
  height: 4rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  color: #fff;
  background: #181818;
  border: 4px solid #181818;
  border-radius: 8px;
}

input[type=submit]:hover {
  transition: all .2s;
  background: transparent;
  color: #181818;
}

input[type=submit]:active {
  transition: none;
  transform: translateY(2px);
}

.submit-buttons {
  margin-top: 1.5rem;
}

table,
tr,
td {
  border: 1px solid #181818;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

#pixelCanvas {
  margin-bottom: 3rem;
}

.hint {
  margin-bottom: 4rem;
}





